doctype html
html
    head
        meta(charset='utf-8')
        title melhos | #{title}
        link(rel='stylesheet' href='../css/stylesheet.css')
        script(src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-replace-svg="nest")
    body
        div.container
            section#homePage
                header#header(class="sticky")
                    a#logo(href='#homePage') melhos
                    div#burger
                        div#line1
                        div#line2
                        div#line3
                    nav#navbar
                        ul
                            li
                                a#menu1(href='#aboutMe')  About
                            //li
                                a#menu2(href='#projects')  Projects
                            li
                                a#menu3(href='#skills')  Skills
                            li
                                a#menu4(href='#contact')  Contact
                div.text-zone-box-1
                    h2
                        p.tag-noun I'm
                        span.tag-name Ger
                            span.tag-name(id='mel') mel
                        span.tag-name l
                        br
                        span.tag-name(id='hos')  Hos
                        span.tag-name ch
                        span ,
                        span  Full Stack Developer.
                    h3.tag-line Helping to create
                        span.tag-fluid  fluid
                        span  and
                        span.tag-respon  responsive
                        span  web designs.
                div.social-icons
                    a(href="https://www.facebook.com/gthosch")
                        i(class="fab fa-facebook")
                    a(href="https://www.linkedin.com/in/germell-hosch/")
                        i(class="fab fa-linkedin")
                    a(href="https://github.com/ghosch01")
                        i(class="fab fa-github")
                div.arrow-box-left
                    span
                    span
                    span
                div.arrow-box-right
                    span
                    span
                    span
            section#aboutMe
                div.content
                    h2.about_title About Me
                    div.text-zone-box-2
                        p <span>I am passionate about collaborating and building interpersonal relationships to work towards objective goals. I create a space for innovative minds to share creative ideas while remaining determined, confident, and energized to execute a tangible plan from concept-to-product.</span><br><br>Before graduating, I committed to a path of consistent learning with a high aptitude for technology and business, having studied Computer Science and Business Operations at Aurora University and Illinois State University.<br><br>I acquired a strong foundation as a developer through academic achievement, and a sound consulting ability gained by professional experience relative to the essential values of customer service.<br><br>Next, is the pursuit for professional growth, making a positive impact and a real change. Furthermore, I look to create concrete solutions to real-world situations, taking what I've learned as a graduate and build upon as a Software Engineer.
            //------------------------------------------ ADD PROJECTS HERE -----------------------------------------------------------
            //section#projects
            //    div.content
            //        h2 Projects
            //------------------------------------------------------------------------------------------------------------------------
            section#skills
                div.content
                    h2 Skills
                        span.amper  &
                        span  Experience
                    div.skills_container
                        table
                            thead
                                tr
                                    th HTML & CSS
                                    th JavaScript
                                    th SQL
                            tbody
                                tr
                                    td
                                        div.skill1
                                            div.outer
                                                div.inner
                                                    div#number1 68%
                                            svg(xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px")
                                                defs
                                                    linearGradient#GradientColor
                                                        stop(offset="0%" stop-color="#e91e63")
                                                        stop(offset="100%" stop-color="#673ab7")
                                                circle.one(cx="80" cy="80" r="70" stroke-linecap="round")
                                    td
                                        div.skill2
                                            div.outer
                                                div.inner
                                                    div#number2 70%
                                            svg(xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px")
                                                defs
                                                    linearGradient#GradientColor
                                                        stop(offset="0%" stop-color="#e91e63")
                                                        stop(offset="100%" stop-color="#673ab7")
                                                circle.two(cx="80" cy="80" r="70" stroke-linecap="round")
                                    td
                                        div.skill3
                                            div.outer
                                                div.inner
                                                    div#number3 60%
                                            svg(xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px")
                                                defs
                                                    linearGradient#GradientColor
                                                        stop(offset="0%" stop-color="#e91e63")
                                                        stop(offset="100%" stop-color="#673ab7")
                                                circle.three(cx="80" cy="80" r="70" stroke-linecap="round")
            section#contact
                div.content
                    h2 Get In Touch
                        circle(cx="80" cy="80" r="70" stroke-linecap="round")
                    div.contact_box
                        form.contact_form(action="contactform.php" method="post")
                            div
                                input(type="text" name="name" placeholder="John Doe")
                            div
                                input(type="text" name="email" placeholder="john@doe.com")
                            div
                                input(type="text" name="subject" placeholder="Hello There!")
                            div
                                textarea(name="message" placeholder="Message...")
                            div
                                button(type="submit" name="submit") SEND
        script(src='../js/functions.js')
        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
            crossorigin="anonymous")




